*{
  font-family: 'Courier New', Courier, monospace;
  color: white; 
}

body {
  background-color: #494949;
}

.App {
  text-align: center;
}

input {
  background-color: #333;
}

button {
  font-weight: bolder;
  cursor: pointer;
  color: #000000;
  outline: none;
  border: none;
  border-radius: 4px;
  background: #808080;
  padding: 10px 22px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin: 20px 0px;
  &:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #808080;
  }
}
