.navbar {
  background: #333;
  height: 85px;
  display: flex;
  justify-content: space-between;
  padding: 0.2rem calc((100vw - 1000px) / 2);
  z-index: 12;
}

.navbar Link {
  color: #808080;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  &.active {
    color: #000000;
  }
}

.navbar div {
  display: flex;
  align-items: center;
  margin-right: -24px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  float: left;
  font-weight: bold;
}

.navbar li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar li a:hover {
  background-color: #111;
}

.navbar button {
  font-weight: bolder;
  cursor: pointer;
  color: #000000;
  outline: none;
  border: none;
  border-radius: 4px;
  background: #808080;
  padding: 10px 22px;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin: 20px 0px;
  &:hover {
    transition: all 0.2s ease-in-out;
    background: #fff;
    color: #808080;
}
}
  